<!DOCTYPE html>
<html>
<head>
  <title>Suggestion Box</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
  <nav class="container">
    <div class="col-md-12">
      <div class="pull-right">
        Hello <%= current_user.name %>
      </div>
    </nav>
  </div>
  <% end %>
  <%= yield %>
  <% if not current_user %>
  <footer class="container">
    <div class="col-md-12">
      <div class="pull-left">
        <small>Internal user ?</small>
        <small><%= link_to 'Login Here', login_path %></small>
      </div>
    </div>
  </footer>
  <% end %>
</body>
</html>
